body{
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    width: auto;
    height: auto;
}
.header{
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}
ul {
    list-style: none;
    padding-left: 0px;
    margin-top: 32px;
    margin-bottom: 35px;
    width: auto;
    height: auto;
    margin-left: 332px;
    margin-right: 299px;
    text-transform: uppercase;
}
a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
nav {width: auto;
    height: auto;
}
.header li {
    display: inline;
    font-size: 18pt;
    color: rgba(22, 161, 133, 1);
}
    @font-face {
       font-family: ﻿Roboto-Black sans-serif;


}
.home{
    padding-right: 65px;
}
.phot{
    padding-right: 70px;
}
.design {
    padding-right: 63px;
}
.main h1 {
    text-transform: uppercase;
    font-family: ﻿Roboto-Black sans-serif;
    font-size: 22pt;
    color: rgba(55, 55, 55, 255);
    text-align: center;
    margin-top: 56spx;
    margin-bottom: 0px;
}
.main p {
    margin-top: 34px;
    margin-left: 113px;
    margin-right: 108px;
    margin-bottom: 0px;
    text-align: center;
    font-family: ﻿AdobeInvisFont, ﻿Roboto-Black, ﻿Courier;
    font-size: 16pt;
    color: rgba(55, 55, 55, 255);
}
.button {
    margin-top: 41px;
    margin-left: 527px;
    margin-right: 561px;
    margin-bottom: 112px;
    position	: relative;
    width		: 100%;
}
.button p {
    font-family: ﻿GothamRounded-Bold, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 12pt;
    color: white;
    text-align: left;
    position:absolute;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    left: 42px;
    width: 100%;
    top: 17px;
}
.main{
    background-image: url("../img/Фон@1X.png");
}
.footer{
    margin-top: 141px;
    margin-bottom: 45px;
    margin-left: 768px;
    margin-right: 104px;
    font-family: ﻿AdobeInvisFont, ﻿Roboto-Black, ﻿Courier;
    font-size: 16pt;
    color: rgba(55, 55, 55, 255);
    text-align: left;
}

